MONGO_URL=mongodb://localhost:27017/???
RABBITMQ_URL=amqp://guest:guest@localhost:5672

# S19 - Conversation Analysis Service
GEMINI_API_KEY=your_gemini_api_key_here
S19_NUM_THREADS=4
A36A_QUEUE_NAME=s01_s19_events
A36B_QUEUE_NAME=s19_s01_events
S19B_BASE_URL=http://localhost:8135

# New environment variables here as needed
